# Dependencies
node_modules/

# Data files (contains sensitive info)
users.json

# Environment variables (PENTING: Agar API KEY tidak ter-upload)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db